body {
  margin: 0;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
    min-height: 100vh;   /* altura da tela inteira */
   width: 75%;
   margin-left: 12%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* NAV */
nav {
  background: #0d0d0d;
    display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content {
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
}


/* HERO */
.hero {
  background: linear-gradient(90deg, #007bff, #00c3ff);
}

.hero-content {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  color: white;
  margin: 0;
}

/* VIDEOS */
.videos-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.videos-grid video {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* FOOTER */
footer {
  margin-top: 50px;
  background: #111;
  color: #ccc;
}

footer .container {
  padding: 20px;
  text-align: center;
}
.video-botao {
    width: 320px;
    cursor: pointer;
    text-align: center;
}

.video-botao video {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

.video-botao:hover video {
    transform: scale(1.05);
}

.legenda {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}
.videos-grid {
   width: 90%;
   margin-left: 6%;
}