@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background: url("img/bokeh-1780221_1280.webp");
    background-size: cover;
    background-position: center;
}

/* CAIXA DE LOGIN */
.container {
    width: 420px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 12px;

    color: white;
    padding: 30px 40px;

    box-shadow:
      0 0 20px rgba(0,0,0,0.5),
      0px 20px 40px rgba(0,0,0,0.35);
}

/* TÍTULO */
.container h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}

/* CAMPOS */
.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

/* INPUT */
.input-box input {
    width: 100%;
    height: 100%;

    background: rgba(255,255,255,0.12);
    border: 1px solid rgba(255,255,255,0.35);
    border-radius: 40px;

    font-size: 16px;
    color: white;
    padding: 0 20px;

    outline: none;
    transition: 0.3s;
}

/* TEXTO DO INPUT */
.input-box input::placeholder {
    color: rgba(255,255,255,0.7);
}

/* EFEITO AO PASSAR O MOUSE OU FOCAR */
.input-box input:hover,
.input-box input:focus {
    border-color: white;
    box-shadow: 0 0 12px rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.18);
}

/* BOTÃO */
button {
    width: 100%;
    height: 45px;

    border: none;
    border-radius: 40px;

    background: white;
    color: black;

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    background: #f2f2f2;
}